<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="system.faisalshakiba.com.hellodoctor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".commonactivities.MainActivity" />
        <activity android:name=".commonactivities.SecondActivity" />
        <activity android:name=".commonactivities.LandingActivity" />
        <activity android:name=".commonactivities.DoctorRegistration" />
        <activity android:name=".apitest.DoctorActivity" />
        <activity
            android:name=".commonactivities.PatientRegistration"
            android:label="@string/title_activity_patient_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".commonactivities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".commonactivities.PatientNavActivity"
            android:label="@string/title_activity_patient_nav"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".commonactivities.DoctorNavActivity"
            android:label="@string/title_activity_doctor_nav"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>